@{Layout = null;}
@model IEnumerable<MvcApplication.Controllers.ImageModelItem>

<!DOCTYPE html>
<html>
<head>
    <title>Image Browser</title>
    <script>
        var deleteImage = function (img) {
            alert(img);
            event.stopPropagation();
            window.event.cancelBubble = true;
            return false;
        }
        var hintImage = function(img) {
            var images = document.getElementById('ImagesContainer').children;
            for (var i = 0; i < images.length; i++) {
                images[i].className = '';
            }
            img.className = 'selected';
        };
        var clickImage = function(img) {
            if (img.className === 'selected') {
                returnSelectedImage();
                return;
            }

            hintImage(img);
            document.getElementById('SelectedImage').value = img.children[0].src;
        };
        var returnSelectedImage = function() {
            var selectedImagePath = document.getElementById('SelectedImage').value;
            window.top.opener.CKEDITOR.dialog.getCurrent().setValueOf('info', 'txtUrl', encodeURI(selectedImagePath));
            window.top.close();
            window.top.opener.focus();
        };
    </script>
    <style type="text/css">
        form {
            border: 1px solid black;
            clear: both;
            margin-bottom: 5px;
        }
        #ImagesContainer div {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGHRFWHRTb2Z0d2FyZQBwYWludC5uZXQgNC4wLjb8jGPfAAAAIUlEQVQYV2NoAIMDBw78BwMMPpCFDBggwkAWRCEqv6EBAMcIOCnZ/euZAAAAAElFTkSuQmCC');
            border: 1px solid darkgrey;
            float: left;
            height: 150px;
            margin: 1px;
            width: 150px;
            position: relative;
        }
        #ImagesContainer div:hover { border: 1px solid yellow; }
        #ImagesContainer div.selected { border: 1px solid green; }
        #ImagesContainer div .icon {
            position: absolute;
            visibility: hidden;
            cursor: pointer;
        }
        #ImagesContainer div:hover .delete-icon { visibility: visible; }
        #ImagesContainer div.selected .selected-icon { visibility: visible; }
        .selected-icon {
            left: 5px;
            top: 128px;
            display: block;
            width: 20px;
            height: 20px;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxEAAAsRAX9kX5EAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNvyMY98AAAFySURBVDhPlZQ9S8RAEIZfBLGwSWN3fyON1VnYCddb+ANsLOQaESzEzsbWzkbsrAJ2IihINtz5UYinjSgWNvEgxRE915nNRu42E2/vhYeEnZmHbL4gposACpvEFTFAAm1QyOkY03EbHSzY7glJsE4D6Z+knozYwg5m7KSTBLPEsW32R+EMN5i3lpEkOKo0+xIjGr9ShTWxcRr4npv0MEcLb5WGfwgfQmm9bx4mmVeFYi3t17bm8FGob7DwRCiIlDJONsx0467h9pzzw3hyFg1usytrPjbH6pY+X+GHW+BmHiq35SkrcIVBN9Dpd2rHtY4+I3vmIWNIeOsutp5bOv/JraaIl0zhnYWHUnFU6iVjFE5ZuCwWCZby9r1kDL+C5pMRtl3C91Rar6DwYj4Skw4WafGr0jQdK4WsDL/lcuNkFPasxQlLi5+oPFhlSOza6ZrECEl67QxWUbgnluyUR/i+KuwTF0SPJPyJXtL5gRGJf2rgF/HIjycPQAq5AAAAAElFTkSuQmCC');
        }
        .delete-icon {
            left: 127px;
            top: 2px;
            display: block;
            width: 20px;
            height: 20px;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuNvyMY98AAAJbSURBVDhPnZQ/aBRBFMa3iIqilRY2zmxgZ3bdIBrP4hRx8S8XC0UrQQRFsFREIaBoQLCwtBBsLSxSKJLWwiaFhxZWWiTZu+zdnqfG8+J55nK7Or6Zu9nM7O0RsPjY5c18v3kzb+YZnueNpHUtl9uwMGqdXETkySKixQoiQYBIBfSujKyn85icnnLdjVneAeActo8GiH6oIsKkKrgnNRYg6+McpoW0XwOWMLkL2fxRjVmwJI7IX1j84ZTCSIBlRO9lmobBlDj8P9KAvumc0jKje1g4Nj4UVrVcVh111mIg2N05AXxsFTZV4DzkYDi2n62GIYtaLfb14uXEJIwA+3L+AosaDbY6v8BCZ6+ICSFSnsnlthi+Sc+qplr+CIu7XRbHMYt+tRNoAlteFmNxFLHaQa+Xcd/rI3rJCDB9JgNyte+3Jteg7R5Ug4Ea9x9oMOFH9KUBqX5SYXIwDV0PxgXAKgf+TMOkVOi6MM6Awhpw+9vDJohtQnES4MrKQKHk3D6QGfDjZ01InxkvAv/KM1Xncol/RL5BhvSFHJQTsgqgnWm/+iqMK9hFXxslbF9RYaE7zqJmU4NJUxrKr5j0cvmmfcOYte1tkGpdrhbu3se6S0tii1kFSKCdDvt8+FgSB8aPouNsF08P3vFV1Vg7cIjVj08MwLh4rF44w+onJrR4CdObyVvmgt73XDUNg2XF4aa84j1UA07n85thYPo/YDNvXHer5CRALr6Kb5LrcB5N1ZQFA1CrbNLJdOfWgFLvKd0BhtsAma1i8lvCYKEOdOq30KruFLG7c9DrjfwDRSRaXZMGQAAAAAAASUVORK5CYII=');
        }
    </style>
</head>
<body>
<div>
    <form>
        <button>Upload Image</button>
    </form>

    <div id="ImagesContainer">
        @foreach (var image in Model)
        {
            <div onclick="clickImage(this)">
                <img width="150" src="@image.Path"/>
                <span class="icon selected-icon"></span>
                <span class="icon delete-icon" onclick="deleteImage(this);"></span>
            </div>
        }
    </div>
    <input type="hidden" id="SelectedImage"/>
</div>
</body>
</html>