@{
    ViewBag.Title = "AboutMe";
}

<article class="box post post-excerpt">
    <header>
        <h2>About Me</h2>
    </header>
    <img src="/images/panfilenok-avatar.jpg"/>
    <p>My name is Alexander Panfilenok and I'm 7 years' experience in Information Technologies in .NET web applications.</p>
    <p>
        I'm very much into every aspect of website development, including unit and integration testing, performance tuning,
        access control and deployment. I'm crazy about beautiful and elegant code, self-descriptive architectual solutions.
        Feel comfortable both with C# and VB.NET. Advanced skills in ASP.NET MVC and MSSQL.
    </p>
    <p>
        Master's degree of Engineering, <a target="_blank" href="/images/mcpd.png">Microsoft Certified Professional Developer</a>.
    </p>
    <p>
        2 years' experience in 24/7 project support (and bugfixing in unfamiliar code) plus 3 years' experience in project leading.
    </p>
    <p>
        I'm teaching 'Web Applications Development' at <a href="http://www.bsuir.by/index.jsp?resID=100229&lang=en">Belorussian State University of Informatic and Radioelectronic</a>
        and <a href="http://www.education.iba.by/en">Institute of IT&amp;Business Administration</a>
        (my lectures are <a href="https://www.youtube.com/channel/UCQu1ll4WgyxuxMVsdMl0AMw">available on YouTube</a>).
    </p>
    <p>
        I'm interested in Software Interaction Design (User Experience Design) and developing most valuable software solutions for end-users.
    </p>
    <p>
        <a target="_blank" href="http://www.linkedin.com/in/panfilenok"><img src="/images/linkedin.png" /></a>
    </p>
</article>