@model byalexblog.DAL.IArticle
<span class="date">
    <span class="month">@Model.DateCreated.ToString("MMMM").Substring(0, 3)<span>@Model.DateCreated.ToString("MMMM").Substring(3)</span></span>
    <span class="day">@Model.DateCreated.Day</span>
    <span class="year">, @Model.DateCreated.Year</span>
</span>